@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #F5F5F5;
    color: #2F3E2C;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: white;
    box-shadow: 0 3px 15px rgba(0,0,0,0.05);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 55px;
}

.logo h1 {
    font-size: 22px;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: #2F3E2C;
    margin-left: 25px;
    transition: 0.3s;
}

nav a:hover {
    color: #5E7C4A;
}

/* BANNER */
.banner {
    height: 350px;
    background: linear-gradient(to right, #5E7C4A, #2F3E2C);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* PRODUTOS */
.produtos {
    padding: 50px;
}

.produtos h2 {
    margin-bottom: 30px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 30px;
}

/* CARD */
.card {
    background: white;
    border-radius: 18px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    transition: 0.3s;

    opacity: 0;
    transform: translateY(30px);
}

.card img {
    width: 100%;
    border-radius: 12px;
}

.card h3 {
    margin: 12px 0;
}

.card p {
    color: #5E7C4A;
    font-weight: 600;
}

/* BOTÃO */
button {
    background: #2F3E2C;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #5E7C4A;
}

/* HOVER */
.card:hover {
    transform: translateY(-8px) scale(1.02);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #2F3E2C;
    color: white;
    margin-top: 40px;
}